//Brand Slider
.partner-section {
	.swiper-slide {
		.banner-image {
			margin: 0 auto;
			text-align: center;
			img {
				opacity: 20%;
				transition: all 0.4s;
			}
		}
		&.swiper-slide-active {
			.banner-image {
				img {
					opacity: 100%;
				}
			}
		}
	}
}
//Brand Slider


//brand section
.brand-wrapper{
	.bran_items{
		.content{
			h3{
				color: #393C3E;
				font-weight: 700;
				font-size: 100px;
				line-height: 100px;
			}
			h4{
				color: #393C3E;
				line-height: 24px;
			}
		}
		.thumb{
			transition: all 0.4s;
			overflow: hidden;
			img{
				width: 100%;
				overflow: hidden;
				transition: all 0.4s;
			}
		}
		&.items2{
			margin-top: -1px;
		}
		&.items3{
			margin-top: -80px;
		}
		&.items4{
			margin-top: -80px;
		}
		&:hover{
			.content{
				h3{
					color: #fff;
				}
				h4{
					color: #fff;
				}
			}
			.thumb{
				img{
					transform: scale(1.04);
				}
			}
		}
		@include breakpoint(max-xl){
			&.items2{
				margin-top: -1px;
			}
			&.items3{
				margin-top: -0px;
			}
			&.items4{
				margin-top: -0px;
			}
			.content{
				h3{
					font-size: 60px;
					line-height: 60px;
				}
				h4{
					line-height: 24px;
				}
			}
		}
		@include breakpoint(max-md){
			&.items2{
				margin-top: -1px;
			}
			&.items3{
				margin-top: -0px;
			}
			&.items4{
				margin-top: -0px;
			}
			.content{
				h3{
					font-size: 44px;
					line-height: 44px;
					text-wrap: nowrap;
				}
				h4{
					line-height: 24px;
				}
			}
		}
		@media screen and (max-width: 450px){
			&.items2{
				margin-top: -1px;
			}
			&.items3{
				margin-top: -0px;
			}
			&.items4{
				margin-top: -0px;
			}
			.thumb{
				display: none;
			}
			.content{
				h3{
					font-size: 38px;
					line-height: 38px;
					text-wrap: nowrap;
				}
				h4{
					line-height: 24px;
				}
			}
		}
	}
}

//crafting-counter-wrap
.crafting-counter-wrap{
	max-width: 780px;
	margin: 0 auto;
	z-index: 2;
	position: relative;
	.crafting-items{
		.cont-area{
			span{
				font-size: 100px;
				line-height: 100px;
				color: #fff;
				font-weight: 700;
				font-family: $heading-font;
			}			
		}
		@include breakpoint(max-xl){
			.cont-area{
				span{
					font-size: 60px;
					line-height: 60px;
					color: #fff;
					font-weight: 700;
					font-family: $heading-font;
				}			
			}	
		}
		@include breakpoint(max-md){
			.cont-area{
				span{
					font-size: 35px;
					line-height: 35px;
					color: #fff;
					font-weight: 700;
					font-family: $heading-font;
				}			
			}	
		}
	}
}
.thumb-inner-one{
	z-index: 1;
	max-width: 1514px;
	margin-left: auto;
	margin-bottom: -240px;
	@include breakpoint(max-xxl){
		margin-bottom: 0;
	}
	@include breakpoint(max-sm){
		gap: 20px;
		margin-bottom: 24px;
		.thumb{
			max-width: 250px;
			height: 220px;
			img{
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
	}
}
.thumb-inner-two{
	z-index: 1;
	max-width: 1428px;
	margin-right: auto;
	margin-top: -200px;
	@include breakpoint(max-xxl){
		margin-top: 24px;
	}
	@include breakpoint(max-sm){
		gap: 20px;
		margin-bottom: 24px;
		.thumb{
			max-width: 250px;
			height: 220px;
			img{
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
	}
}
.border-clr-this{
	border-color: #393C3E !important;
}

//text slider
.marquee {
  position: relative;
  --duration: 30s;
  --gap: 0px;
  display: flex;
  overflow: hidden;
  user-select: none;
}
.marquee .marquee-group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
  animation: scroll var(--duration) linear infinite;
}
.marquee .marquee-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff !important;
}
.marquee .marquee-icon .text {
  font-weight: 500;
  font-size: 18px;
  color: #fff !important;
}
@media only screen and (max-width: 1199.98px) {
  .marquee {
    gap: 24px;
  }
  .marquee .marquee-group {
    gap: 24px;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
.left-to-right {
  animation-direction: reverse !important;
}

@keyframes scroll2 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

//text-box-wrapper
.text-box-wrapper{
	gap: 72px !important;
	background-color: #FD492E;
	padding: 22px 0;
	.marquee-icon{
		font-size: 40px;
		font-weight: 600;
		color: #fff;
		font-family: $heading-font;
		line-height: 40px;
	}
	@include breakpoint(max-xxl){
		gap: 24px !important;
		padding: 20px 0;
		.marquee-icon{
			font-size: 36px;
			line-height: 36px;
		}
	}
	@include breakpoint(max-lg){
		gap: 24px !important;
		padding: 20px 0;
		.marquee-icon{
			font-size: 24px;
			line-height: 24px;
			img{
				width: 55px;
			}
		}
	}
}

//sponsor-item03
.sponsor-item03{
	max-width: 120px;
	margin: 0 auto;
	img{
		width: 100%;
		object-fit: contain;
	}
}