//>>>>> Section Title Start <<<<<//

.section-title {
	position: relative;
	.cmn-tag {
		margin-bottom: 10px;
	}
	.badge-section{
		background-color: #7A64EC;
		border-radius: 100px;
		padding: 10px 20px;
		display: inline-block;
		font-size: 18px;
		line-height: 22px;
		font-family: $heading-font;
		color: $white;
		font-weight: 600;
		margin-bottom: 18px;
		&.secondary{
			background-color:#F2EDFE;
			color: #6754E9;
		}
	}
	h2 {
		font-weight: 500;
		font-size: 48px;
		line-height: 50px;
		letter-spacing: -0.001em;
	}
	h2 span {
		font-weight: 700;
		font-size: 48px;
		line-height: 50px;
		letter-spacing: -0.001em;
	}
	.sub__warning{
		color: #FFE800;
		font-size: 18px;
		font-weight: 600;
		line-height: 26px;
	}
	.sub__text-p1{
		color: #F15F25;
		font-size: 18px;
		font-weight: 600;
		line-height: 26px;
	}
	.badge-sub2{
		color: #6754E9;
		font-size: 18px;
		font-weight: 600;
		line-height: 26px;
		text-transform: uppercase;
	}
	&.section-title-white{
		p,
		h2{
			color: $white !important;
		}
	}
	@include breakpoint(max-lg) {
		.badge-section{
			padding: 8px 16px;
			font-size: 15px;
			line-height: 20px;
			margin-bottom: 15px;
		}
		h2 {
			font-weight: 500;
			font-size: 36px;
			line-height: 43px;
			letter-spacing: -0.001em;
		}
		h2 span {
			font-size: 36px;
			line-height: 43px;
			letter-spacing: -0.001em;
		}	
	}
}
.title-ele3{
	position: relative;
	img{
		position: absolute;
		bottom: -0px;
		left: 0px;
		width: 100%;
	}	
}

.section-title-area {
	display: flex;
	justify-content: space-between;
	position: relative;
	z-index: 9;

	@include breakpoint(max-md) {
		flex-wrap: wrap;
		gap: 20px;
	}
}
.mb-48 {
	margin-bottom: 48px;
	@include breakpoint(max-lg) {
		margin-bottom: 40px;
	}
	@include breakpoint(max-md) {
		margin-bottom: 30px;
	}
}

//gsap animation
.reveal-left,
.reveal-bottom {
	visibility: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

//>>>>> Section Title End <<<<<//

//>>>>> Basic Css Start <<<<<//

.center {
	text-align: center;
	margin: 0 auto;
}
.mb-60 {
	margin-bottom: 60px;
	@include breakpoint(max-xxl) {
		margin-bottom: 50px;
	}
	@include breakpoint(max-xl) {
		margin-bottom: 40px;
	}
	@include breakpoint(max-lg) {
		margin-bottom: 30px;
	}
}

.section-bg {
	background-color: $bg-color;
}

.section-padding {
	padding: 120px 0;

	@include breakpoint(max-xl) {
		padding: 100px 0;
	}

	@include breakpoint(max-lg) {
		padding: 80px 0;
	}
}
.space-top {
	padding-top: 120px;
	@include breakpoint(max-xl) {
		padding-top: 100px;
	}
	@include breakpoint(max-lg) {
		padding-top: 80px;
	}
}
.space-bottom {
	padding-bottom: 120px;
	@include breakpoint(max-xl) {
		padding-bottom: 100px;
	}
	@include breakpoint(max-lg) {
		padding-bottom: 80px;
	}
}
//>>>>> Basic Css End <<<<<//
